
    .box {
            width: 154px;
            display: inline-block;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: white;
            text-align:center;
        }


       .burroflixassinatura{

        font-size:25px;
color:white;
text-align:center;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

       }

       .assinatura{

color: red;;
text-align:center;
font-size:50px;


       }

       .plano1{

background-color:rgb(117, 36, 36);
text-align:center;


       }

       .plano2{



background-color:rgb(117, 36, 36);
        text-align:center;
       }


    .compraefetuada{



text-align:center;
color: green;
font-family:fantasy;
font-size:75px;




    }









       
    

       


       

       